<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<section class="about">
    <div class="about-header">
      <h1>About Me</h1>
    </div>

    <div class="me">
        <p>Good day! My name is Jose Favian Pascual Reyes, but you can call me Joey. I am a 20 years old college student, aspiring to be a great web developer.
            I am willing to expand my knowledge and hone my skills through multiple experiences and challanges to face and succeed. 
        </p>
    </div>
  
    <div class="about-content">
        <h2>Soft Skills</h2>
        <table class="about-table multi-column">
            <tr>
                <td>Adaptability</td>
                <td>Creative</td>
            </tr>
            <tr>
                <td>Problem Solving</td>
                <td>Patient</td>
            </tr>
            <tr>
                <td>Responsible</td>
                <td>Teamwork</td>
            </tr>
        </table>

    
        <h2>Technical Skills</h2>
        <table class="about-table multi-column">
            <tr>
                <td>Languages:</td>
                <td>HTML, CSS, JavaScript</td>
            </tr>
            <tr>
                <td>Frameworks:</td>
                <td>Vue, React, Node, Angular, Bootstrap, Express</td>
            </tr>
            <tr>
                <td>Tools and Platforms:</td>
                <td>Github, VSC, Netlify, Wordpress, Stackblitz</td>
            </tr>
            <tr>
                <td>Databases:</td>
                <td>MongoDB, MySQL</td>
            </tr>
            <tr>
                <td>Testing Tool:</td>
                <td>Postman</td>
            </tr>
        </table>
    
        <h2>Education</h2>
        <table class="about-table multi-column">
            <tr>
                <td><strong>Degree:</strong></td>
                <td>Bachelor of Information Technology, Major in Web Development</td>
            </tr>
            <tr>
                <td><strong>Institution:</strong></td>
                <td>Holy Angel University</td>
            </tr>
            <tr>
                <td><strong>Years:</strong></td>
                <td>2022 - 2026</td>
            </tr>
        </table>
    

      
  
      <div class="about-table">
        <h2>Certifications & Projects</h2>
        <table class="about-table">
          <tr>
            <th>Certification</th>
            <th>Link</th>
          </tr>
          <tr>
            <td>Responsive Web Design</td>
            <td><a href="https://www.freecodecamp.org/certification/joeyyboi/responsive-web-design" target="_blank">View Certification</a></td>
          </tr>
          <tr>
            <td>JS Algorithm and Data Structures</td>
            <td><a href="https://www.freecodecamp.org/certification/joeyyboi/javascript-algorithms-and-data-structures" target="_blank">View Certification</a></td>
          </tr>
          <tr>
            <td>SEO - 1</td>
            <td><a href="https://app.hubspot.com/academy/achievements/gcfsjsly/en/1/jose-reyes/seo" target="_blank">View Certification</a></td>
          </tr>
        </table>
  
        <h2>Major Projects</h2>
        <table class="about-table">
          <tr>
            <td>Tokyo Table</td>
            <td>Developed and deployed a MEVN stack-based restaurant web application with features like homepage design, menu search, and CRUD functionalities.</td>
          </tr>
          <tr>
            <td>Library Management System</td>
            <td>Designed a system to enhance book cataloging and lending processes.</td>
          </tr>
        </table>
      </div>
    </div>
</section>

<footer>
    <div class="footer-container">
        <div class="footer-left">
            <p>&copy; 2025 Jose Reyes. All rights reserved.</p>
        </div>
        
        <div class="footer-center">
            <p>Connect with me:</p>
            <div class="iconsAbout">
                <a href="https://www.facebook.com/Jose.Reyes.899" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://github.com/saeechy" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="mailto:jb1289716@gmail.com "><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>
        
        <div class="footer-right">
            <p>Designed by Jose Reyes</p>
        </div>
    </div>
</footer>

  