<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
<section class="home">
    <div class="home-content">
        <!-- <h1>Good day! <br>I'm Jose Reyes</h1>-->
        <h1>Hello There!</h1>
        <h1>I'm Jose Reyes</h1>
        <h2>Web Developer | Frontend Developer</h2>
        <p>Hello! I’m Jose Favian P. Reyes, a 20-year-old aspiring web developer currently pursuing a degree in Bachelor of Science in Information Technology, Major in Web Development at Holy Angel University. Born on April 26, 2004, I am passionate about creating intuitive and innovative web solutions that deliver exceptional user experiences.
        Through my academic journey, I’ve gained expertise in modern web technologies and honed my skills in designing and developing dynamic, user-centric websites. My dedication to learning and adaptability to new tools and trends drive me to continually grow as a developer.</p>
    <button class="home-button">Download CV</button>

    </div>

  
    <div class="home-icons">
      <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://github.com" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="mailto:jb1289716@gmail.com"><i class="fa-solid fa-envelope"></i></a>
    </div>
</section>
